---
import Layout from '../layouts/Layout.astro';
import BannerVideo from '../components/BannerVideo.astro';
import Content1 from '../components/Content1.astro';
---

<Layout >
	<main class="ml-52">
		<BannerVideo />
		<Content1 />
	</main>
</Layout>

<style>
</style>
