---

---

<article class="w-full h-52 relative">
    <video class="w-full h-full aspect-video object-cover opacity-60" loop autoplay muted playsinline>
        <source src="/pilolcura.mp4" type= "video/mp4">
    </video>
    <!-- <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 flex flex-col text-center px-2 backdrop-blur-sm drop-shadow-2xl shadow-sm border-2 border-black border-solid">
        <h1 class="text-3xl font-black text-white text-shadow-sm ">IDRO</h1>
        <h2 class="text-2xl font-extrabold text-primary-300 shadow-md">
            Evaluación y modelación de impactos <br/> ambientales de plantas desalinizadoras <br/> por Osmosis Inversa
        </h2>
    </div> -->
</article>