---
import HeaderTitle from './HeaderTitle.astro';
import Event from './Event.astro';
---

<aside class="flex flex-col gap-3">
    <HeaderTitle title="Encuentros 2024" subTitle='Calendario' />
    <h4 class="text-xl font-semibold text-secondary-400">Próximas presentaciones</h4>
    <Event date="Jueves 21 de Marzo. Congreso ACADES, Santiago." />
</aside>