---
import {Image} from 'astro:assets';
import logoIdro_color_horizontal from '../images/logo/IDRO propuestas de Marca_logo horizontal color.svg';

---
<section class="flex flex-col items-center justify-center gap-2 px-5">
	<Image src={logoIdro_color_horizontal} alt="IDRO" class="w-72 h-auto rounded-none border-0 border-transparent"/>
	<p class="text-3xl font-medium text-center text-secondary-500">Evaluación y modelo de impactos ambientales <br/> de plantas desalinizadoras por Osmosis Inversa.</p>
</section>