---
import HeaderTitle from './HeaderTitle.astro';
import {Image} from 'astro:assets';
import Equipo from '../images/content/team2.webp'
---


<aside class="flex flex-col gap-3">
    <HeaderTitle title="¿Quiénes Somos?" subTitle='Equipo' />
    <p class="text-lg text-primary-900">
        El proyecto agrupa a un grupo interdisciplinario de investigadores de la USM, la UV y la UNAB, que investiga los sistemas de desalinización desde la ingeniería, economía y biología marina.
    </p>
    <Image class="w-full rounded-3xl object-contain" src={Equipo} alt="Equipo" />
</aside>