---
import HeaderTitle from './HeaderTitle.astro';
---


<aside class="flex flex-col gap-3">
    <HeaderTitle title="¿Quiénes Somos?" subTitle='Equipo' />
    <h4 class="text-xl font-semibold text-secondary-400">Próximas presentaciones</h4>
</aside>