---
import AsideBar from './../components/AsideBar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>IDRO</title>
	</head>
	<body class="m-0 p-0 w-full ">
		<AsideBar />
		<slot/>
	</body>
</html>
<style is:global>
	html {
		background: white;
		display: block;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: ubuntu, sans-serif;
	}
	span, p, a, li, label, input, textarea, button {
		font-family: sans-serif;
	}
</style>
